---
import type { MarkdownHeading } from "astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import TableOfContents from "./TableOfContents";
import MoreMenu from "./MoreMenu.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Props = {
  headings: MarkdownHeading[];
  githubEditUrl: string;
};

const { headings, githubEditUrl } = Astro.props;
---

<div>
  <nav class="sticky top-[6.5rem] w-64 mr-8">
    <TableOfContents
      client:media="(min-width: 50em)"
      headings={headings}
      title={t("rightSidebar.tableOfContents")}
    />
    <MoreMenu editHref={githubEditUrl} />
  </nav>
</div>
