---
import type { MarkdownHeading } from "astro";
import TableOfContents from "./TableOfContents";
import MoreMenu from "./MoreMenu.astro";
import { getLanguageFromURL } from "src/languages";
import { MENUS } from "src/consts";

const currentPage = Astro.url.pathname;
const lang = getLanguageFromURL(currentPage);

type Props = {
	headings: MarkdownHeading[];
	githubEditUrl: string;
};

const { headings, githubEditUrl } = Astro.props;
---

<div>
	<nav class="sticky top-20 hidden lg:block w-80 ml-8">
		<TableOfContents
			client:media="(min-width: 50em)"
			headings={headings}
			title={MENUS[lang]["Right-Sidebar"][0].text}
		/>
		<MoreMenu
			editHref={githubEditUrl}
			title={MENUS[lang]["Right-Sidebar"][1].text}
		/>
	</nav>
</div>
