---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header
  class="sticky top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-all duration-100 bg-base-100 text-base-content shadow-sm"
>
  <div class="navbar">
    <div class="navbar-start w-4/5 md:w-[inherit]"></div>
    <div class="navbar-center hidden lg:flex"></div>
    <div class="navbar-end w-1/5 md:w-[inherit]">
      <ThemeSwitcher />
    </div>
  </div>
</header>
