---
import { CollectionEntry } from "astro:content";
import Logo from "./Header/Logo.astro";

type Props = {
  entries: CollectionEntry<"docs">[];
  currentPage: string;
};

const { entries, currentPage } = Astro.props;
---

<div class="drawer-side">
  <label for="my-drawer" class="drawer-overlay"></label>

  <div class="w-80 min-h-screen">
    <div
      class="z-20 bg-opacity-90 backdrop-blur items-center gap-2 px-4 py-2 hidden lg:flex"
    >
      <Logo />
    </div>

    <div class="mx-auto mt-4 mb-2"></div>

    <ul class="menu menu-compact flex flex-col p-0 px-4 gap-2">
      {
        entries.map(({ slug, data }) => {
          const [lang, ...rest] = slug.split("/");
          const url = `/${lang}/docs/${rest.join("/")}`;
          const active = currentPage === url;

          return (
            <li>
              <a
                class:list={[
                  "flex gap-4 rounded-lg bg-opacity-30",
                  { "active text-white": active },
                ]}
                href={url}
                aria-current={active ? "page" : false}
              >
                <span class="flex-1">{data.title}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
