---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("docs");

  return posts.map((entry) => {
    const [lang, ..._] = entry.slug.split("/");
    return {
      params: { lang },
    };
  });
}
---

<BaseLayout>
  <h1>My Page</h1>
</BaseLayout>
