---
import AvatarList from "./AvatarList.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <div class="footer p-10 bg-base-200 bg-opacity-40 text-base-content">
    <div>
      <svg class="w-16 h-16" viewBox="0 0 892.58 782.59">
        <path
          d="M424.91,332c39.29-6.79,83-10.21,122.36-16.75,41.86-7,66.6-36,61.26-76.44-9.16-93.1-82.35-203.09-186.7-175.2C384,74,353.3,97.83,330.18,133.36q-53.61,82.37-105.63,165.75C177.39,375,129.74,450.54,83.1,526.71l-.17.24c70.51-96.63,163.45-159.54,333.18-193.25Z"
          transform="translate(-4.43 -59.23)"
          style="fill:#027dfd"></path>
        <path
          d="M519,485.52C368.78,549.87,301.11,705.21,300.9,705.07c0,0-5.62,7.95,0,0,23.87-24.19,55.29-36.79,89.68-45.27,128.27-33.44,186.81,27.47,264.84,125.59,82.44,110,230.85,43.38,241.58-64.62C897.66,553.65,703.89,393.92,519,485.52Z"
          transform="translate(-4.43 -59.23)"
          style="fill:#027dfd"></path>
        <path
          d="M413.91,502.93c-27.1-9-48.88-27.9-59.76-51.86-13.91-30.66-9.8-70.42,24.52-101.46C182.38,397.25,101,489.72,24.24,639l-.25.45c-42.3,69.92-10.1,135.22,40.57,168.92,49.59,33,124.57,38.81,172-26.33l.07-.09c18.48-24.52,35.08-48.28,51.14-71.26l4.56-6.52h0l.4-.57c.24-.36.49-.71.74-1.07.42-.58.72-1,.95-1.34l.16-.34c6.49-13.68,25-49.88,56.6-90.43,32.57-41.78,68.93-75.79,108.55-101.6A124.16,124.16,0,0,1,413.91,502.93Z"
          transform="translate(-4.43 -59.23)"
          style="fill:#0553b1"></path>
      </svg>
      <p class="mb-4">
        Custom Electron Titlebar<br />
        <span class="opacity-40">{t("footer.copy")}</span>
      </p>
    </div>
    <div>
      <span class="footer-title">{t("footer.contributors")}</span>
      <AvatarList />
    </div>
    <div>
      <span class="footer-title">{t("footer.links")}</span>
      <a
        class="link link-hover"
        href="https://github.com/AlexTorresDev/custom-electron-titlebar"
        target="_blank"
      >
        {t("footer.repo")}
      </a>
      <a
        class="link link-hover"
        href="https://github.com/AlexTorresDev/custom-electron-titlebar/blob/main/LICENSE"
        target="_blank"
      >
        {t("footer.license")}
      </a>
      <a
        class="link link-hover"
        href="https://www.npmjs.com/package/custom-electron-titlebar"
        target="_blank"
      >
        {t("footer.npm")}
      </a>
      <a
        class="link link-hover"
        href="https://www.buymeacoffee.com/AlexTorresDev"
        target="_blank"
      >
        {t("footer.donation")}
      </a>
    </div>
  </div>

  <div
    class="footer px-10 py-4 border-t bg-base-200 text-base-content border-base-300"
  >
    <div
      class="block opacity-75"
      set:html={t("footer.attributions", [
        `<a href="https://alextrs.dev" target="_blank" class="font-bold">
          Alex Torres
        </a>`,
        `<a
          href="https://manuelernestog.github.io"
          target="_blank"
          class="font-bold"
        >
          Manuel Ernesto ⚡️
        </a>`,
      ])}
    />
    <div class="md:place-self-center md:justify-self-end">
      <div class="grid grid-flow-col gap-4">
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-current"
          >
            <path
              d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
            >
            </path>
          </svg>
        </a>
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-current"
          >
            <path
              d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
            ></path>
          </svg>
        </a>
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-current"
          >
            <path
              d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
            ></path>
          </svg></a
        >
      </div>
    </div>
  </div>
</footer>
